{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
    {% if not is_authenticated %}
        <div id="intro-wrapper">
            <div id="intro-header">
                PixxeL
            </div>
            <div id="intro-desc">
                Pixxel is a multiplayer drawing game where you compete against your friends.
                <br>Created for DevFest 2014 at Columbia University.
            </div>
            <a class="intro-button enabled" id="login-btn">Log In</a>
            <a class="intro-button enabled" id="signup-btn">Sign Up</a>
            <div id="login-form-wrapper">
                <form id="login-form" method="post" action="/account/login/">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td><label>{{ login_form.username.label_tag }}:</label></td>
                            <td>{{ login_form.username }}</td>
                        </tr>
                        <tr>
                            <td><label>{{ login_form.password.label_tag }}:</label></td>
                            <td>{{ login_form.password }}</td>
                        </tr>
                    </table>
                    <input type="submit" class="button" value="Submit">
                    <div class="error"></div>
                </form>
            </div>
            <div id="signup-form-wrapper">
                <form id="signup-form" method="post" action="/account/create/">
                    {% csrf_token %}

                    <table>
                        <tr>
                            <td><label>E-mail address:</label></td>
                            <td>{{ signup_form.email_address }}</td>
                        </tr>
                        <tr>
                            <td><label>Username:</label></td>
                            <td>{{ signup_form.username }}</td>
                        </tr>
                        <tr>
                            <td><label>Password:</label></td>
                            <td>{{ signup_form.password1 }}</td>
                        </tr>
                        <tr>
                            <td><label>Confirm password:</label></td>
                            <td>{{ signup_form.password2 }}</td>
                        </tr>
                    </table>
                    <input type="submit" class="button" value="Submit">
                    <div class="error"></div>
                </form>
            </div>

    {{ errors }}
        </div>
    {% else %}
        {% include 'main/header.html' %}

        <div id="main">
            <div id="main-left">
                <a class="big-button" href="#">Join Game</a>
                <a class="big-button" href="#">Start New Game</a>
            </div>
            <div id="main-right">
                <h1>» Current Games</h1>
                <div id="games-list">
                    <!-- <div class="games-list-game">Alex's Game</div>
                    <div class="games-list-game">BeSt GaMe EVERRR</div>
                    <div class="games-list-game">Nerds only</div> -->
                    <div class="notice">You are currently not in any games.<br/>Click the Join Game button to join one!</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="/static/js/intro.js"></script>
{% endblock %}