
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
{% endblock %}

{% block content %}
    <div id="content">
        <div id="game_menu">
            <a href="/game/new_game"><div id="start_new_game"> Start New Game </div></a>

            <a href="/game/open_games"><div id="join_game"> Join Game </div></a>
        </div>
        <div id="current_games">
            <div class="content_title"> Current Games </div>
            {% for game in current_games %}
                <a href="/game/room/{{game.game_room_name}}/"><div class="game_entry"> {{ game.game_room_name }} </div></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}