{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
    {% if not is_authenticated %}
        <div id="intro-wrapper">
            <div id="intro-header">
                PixxeL
            </div>
            <a class="intro-button" href="/account/login_page">Login</a>
            <a class="intro-button" href="/account/create_account">Sign Up</a>
            <div id="intro-footer">
                Pixxel is a multiplayer drawing game where you compete against your friends.
                <br>Created for DevFest 2014 at Columbia University.
            </div>
        </div>
    {% else %}
        Dashboard when logged in.
    {% endif %}
{% endblock %}