body {
    background: url('../img/bg.png');
}

/*=========
   general
  =========*/
.button {
    display: inline-block;
    padding: 5px 15px;
    font-family: 'Belgrano';
    font-size: 14px;
    text-decoration: none;
    color: black;
    border: 1px solid #111;
    border-radius: 5px;
    margin: 2px;
    background-image: linear-gradient(#A0C6F2, #456C99);
    background-size: auto 200%;
    background-position: 0 100%;
    transition: background-position 0.33s;
    outline: none;
}
.button:hover {
    background-position: 0 0;
    cursor: pointer;
}

/*============
   intro page
  ============*/
#intro-wrapper {
    margin: 0 auto 50px;
    text-align: center;
}
#intro-header {
    font-family: 'Kaushan Script';
    font-size: 120px;
    color: #BADCE3;
    text-shadow: 3px 3px 5px black;
    margin-top: 30px;
    padding-right: 30px;
}
.intro-button {
    display: inline-block;
    width: 130px;
    padding: 10px;
    font-family: 'Belgrano';
    font-size: 16px;
    text-decoration: none;
    color: black;
    border: 1px solid #111;
    border-radius: 5px;
    margin: 2px;
    background-image: linear-gradient(#A0C6F2, #456C99);
    background-size: auto 200%;
    background-position: 0 100%;
    transition: background-position 0.33s;
    outline: none;
}
.intro-button.enabled:hover {
    background-position: 0 0;
    cursor: pointer;
}
.intro-button.disabled {
    opacity: 0.4;
}
#intro-desc {
    margin-top: -10px;
    margin-bottom: 20px;
    font-family: 'Belgrano';
    font-size: 12px;
    color: #ccc;
}
#login-form-wrapper, #signup-form-wrapper {
    display: none;
    margin-top: 15px;
    position: relative;
}
#login-form table, #signup-form table {
    margin: 20px auto 5px;
    text-align: right;
}
#login-form label, #signup-form label {
    color: #ccc;
    font-size: 12px;
    font-family: 'Open Sans';
}
#login-form input[type=text], #signup-form input[type=text],
#login-form input[type=password], #signup-form input[type=password] {
    font-family: 'Open Sans';
    padding: 1px 3px;
    width: 140px;
    font-size: 12px;
    background-color: #eee;
}
.error {
    margin-top: 15px;
    font-size: 12px;
    font-family: 'Open Sans';
    color: #D43D3D;
    text-align: center;
}
.errorlist {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
.errorlist .errorlist li:before {
    content: ' » ';
}

/*===============
   miscellaneous
  ===============*/
.unclickable {
    pointer-events: none;
}