
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
{% endblock %}

{% block content %}
    <div class="content">
        <div class="section_title"> Room: {{ room_name }} </div>
        <div class="section_title"> Current Judge: {{ game_instance.current_judge.user.username }}
        {% if not already_in_game %}
            <form id="join_room_button" action="/game/room/join_game/{{room_name}}/" method="post">
                {% csrf_token %}
                <input type="submit" value="Join Room"> </input>
            </form>
        {% endif %}
        <div id="current_room_users">
            <div class="content_title"> Current Users </div>
            {% for user in userlist %}
                <div class="game_entry"> {{ user.username }} ({{ user.score.score }}) </div>
            {% endfor %}
        </div>

        <div>
            People Drawing: {{ num_drawing }}
            {% for drawing in user_drawings %}
                <div class="user_drawing">
                    {{ drawing.username }} 
                    <div class="drawing_image">
                        {% if drawing.drawing %}
                            {{ drawing.drawing }}
                        {% else %}
                            Blank_image.png
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}