
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
{% endblock %}

{% block content %}
    <div class="content">
        <div class="section_title"> Room: {{ room_name }} </div>
        <div class="section_title"> Current Judge: {{ game_instance.current_judge.user.username }} </div>
        <div class="section_title"> Is Public: {{game_instance.is_public}} </div>
        <div class="section_title"> Password: {{game_instance.password}} </div>
        <div class="section_title"> Current Phrase: {{game_instance.current_phrase}}</div>
        {% if not already_in_game %}
            <form id="join_room_button" action="/game/room/join_game/{{room_name}}/" method="post">
                {% csrf_token %}
                <input type="submit" value="Join Room"> </input>
            </form>
        {% endif %}
        <div id="current_room_users">
            <div class="content_title"> Current Users </div>
            {% for user in userlist %}
                <div class="game_entry"> {{ user.username }} ({{ user.score.score }}) </div>
            {% endfor %}
        </div>

        <div>
            {% if previous_round_data %}
                Round Results <br/>
                {% for drawing in previous_round_data %}
                    {{ drawing.user.user.username }}
                    <img src="/{{drawing.picture}}"></img>
                    {% if drawing.was_round_winner %}
                        THIS DRAWING WAS THE WINRAR
                    {% endif %}
                    <a href="/game/next_round/{{room_name}}/">Go to Next Round</a>
                    <br/>
                {% endfor %}
            {% else %}
                {% if is_current_judge %}
                    {% if game_instance.current_phrase %}

                        People Drawing: {{ num_drawing }}

                        <form action="/game/judge_drawing/{{room_name}}/" method="post">
                            {% csrf_token %}
                            {% for drawing in user_drawings %}
                                <div class="user_drawing">
                                    {{ drawing.username }} 
                                    <div class="drawing_image">
                                        {% if drawing.drawing %}
                                            <img src="/{{drawing.drawing.picture}}"> </img>
                                        {% else %}
                                            Blank_image.png
                                        {% endif %}

                                        {% if all_submitted %}
                                            <input type="submit" name="{{drawing.username}}" value="Choose this Drawing"></input>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    {% else %}
                        <form action="/game/judge_phrase/{{room_name}}/" method="post">
                            {% csrf_token %}
                            <input type="text" name="judge_phrase" placeholder="Enter Phrase Here"></input>
                            <input type="submit" value="Submit Phrase"></input>
                        </form>
                    {% endif %}
                {% else %}
                    {% if already_in_game %}
                        {% if not game_instance.current_phrase %}
                            Judge has not yet chosen a phrase.
                        {% else %}
                            {% if not user_drawing %}
                                Draw Here
                                <form action="/game/submit_drawing/{{room_name}}/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input name="drawn_image" type="file" required> </input>
                                    <input type="submit" value="Submit"> </input>
                                </form>
                            {% else %}
                                Your Drawing is Beautiful.
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}