
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <form action="/game/create_new_room" method="post">
        {% csrf_token %}
        <input type="text" name="room_name" placeholder="Room Name" required></input>
        <input id='is_private' type="checkbox" name="is_private" value="is_private">Private</input>
        <input id='room_password' type="text" name="room_password" style="display: none;" placeholder="Room Password"></input>
        <select name="num_rounds">
            <option value="1">One</option>
            <option value="3">Three</option>
            <option value="5">Five</option>
            <option value="10">Ten</option>
        </select>
        <input type="submit" value="Create Room"></input>
    </form>

    {% if error %}
        A game room with that name already exists.
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('#is_private').click(function() {
                if($('#is_private').prop('checked')) {
                    $('#room_password').show();
                    $('#room_password').attr('required', true);
                }
                else {
                    $('#room_password').hide();
                    $('#room_password').removeAttr('required', false);
                }
            });
        });
    </script>
{% endblock %}